<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="jquery.hislide.css">

    <title>Portfolio</title>
</head>

<body>
    <section class="home">
        <div class="slick-carousel">
            <div class="slide-carousel">
                <img src="images/artisanal-food-gc9350e4ba_1920.jpg" alt="">
                <img src="images/cover1.jpg" alt="">
                <img src="images/canyon-1740973_960_720.jpg" alt="">
                <img src="images/field-g6a3312dd2_1920.jpg" alt="">
            </div>

            <nav class="header-navigation">
                <div class="navigation-list" id="navLinks">
                    <div>
                        <a href="#"><img src="images/logo3.jpg" style="width: 150px;height:100px;"></a>
                    </div>
                    <i class="fas fa-times" onclick="hideMenu()"></i>
                    <ul class="navigation-list-items">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Shortcodes</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><i class="fa fa-search"></i></li>
                        <li><i class="fa fa-shopping-bag"></i></li>
                    </ul>
                </div>
                <i class="fas fa-bars" onclick="showMenu()"></i>
            </nav>

            <div class="home-content">
                <h2>Unique and Modern Design</h2>
                <h1>Portfolio PSD Template</h1>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihilimperdiet doming id quod mazim placerat
                    facer possim assum</p>
                <a href="#" class="big-brown-btn">Get started</a>
            </div>
        </div>
    </section>

    <section class="list-of-services">
        <div class="services-list">
            <a href="#" class="services-item">
                <i class="fa-solid fa-pencil"></i>
                <h3>Web & App Design</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option conque nihil imperdiet doming id quod mazim</p>
                <span class="divider">
                    <hr>
                </span>
            </a>
            <a href="#" class="services-item">
                <i class="fa-solid fa-layer-group"></i>
                <h3>Development</h3>
                <p>Lorem ipsum dolor sit amet , adipisicing elit,sed diam nonummy nibh eismod tincidun ut laoreet</p>
                <span class="divider">
                    <hr>
                </span>
            </a>
            <a href="#" class="services-item">
                <i class="fa-solid fa-gear"></i>
                <h3>Customization</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo accusantium ad repellendus eligendi!
                    Suscipit,
                    impedit?</p>
                <span class="divider">
                    <hr>
                </span>
            </a>
            <a href="#" class="services-item">
                <i class="fa-solid fa-folder-open"></i>
                <h3>Marketing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo accusantium ad repellendus eligendi!
                    Suscipit,
                    impedit?</p>
                <span class="divider">
                    <hr>
                </span>
            </a>
        </div>
    </section>

    <section>
        <div class="waxom-realization">
            <div class="waxom-realization-content">
                <h2>
                    Waxom is Realization of your Ideas.
                </h2>
                <p>Investestiones demonstravrunt lectores legere me lius quod ii lgunt saepius.Claritas est etiam
                    processus
                    ynamicus,qui sequitu mutationem consuetudim.
                </p>
            </div>
            <div class="waxom-slider-container">
                <div class="img-area hi-slide">
                    <div class="hi-prev"></div>
                    <div class="hi-next"></div>
                    <ul class="3d-slider">
                        <li><img src="images/bowser-centr.jpg" alt=""></li>
                        <li><img src="images/browser-left.jpg" alt=""></li>
                        <li><img src="images/browser-right.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    </section>


    <section>
        <div class="waxom-gradient">
            <div class="waxom-gradient-content">
                <h3><span>Waxom </span>Multipurpose WordPress Theme</h3>
                <p>Don't Forget to rate the Template Thanks so much! </p>
            </div>
            <div class="purchase-link">
                <a href="#">Purchase now</a>
            </div>
        </div>
    </section>

    <section class="our-latest-project-section">
        <div class="latest-project-container">
            <div class="header-and-text">
                <h2>Our Latest Projects.</h2>
                <p>Ivestigatones demonstravernt lectores legere me lius qoud il legnt sepius.Claritas est etiam
                    processus dynamicus,qui sequitur mutationem consuetudim.
                </p>
                <div class="list-links">
                    <ul class="links-buttons">
                        <li><a id="btn-all">All</a></li>
                        <li><a id="btn-wd">Web Design</a></li>
                        <li><a id="btn-ma">Mobile App</a></li>
                        <li><a id="btn-illu">Illustration</a></li>
                        <li><a id="btn-photo">Photohraphy</a></li>
                    </ul>
                </div>
            </div>

            <div class="latest-project-content">
                <!--1-->
                <div class="latest-project-item photography">
                    <img src="images/mobile-phone-g4eab11f7d_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">

                        <div class="arrow"></div>
                        <h3>Claritas Etiam Processus</h3>
                        <p>Photography Nature</p>
                    </div>
                </div>
                <!--2-->
                <div class="latest-project-item web-design ">
                    <img src="images/elephant-gf620f9fc0_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Quam Ntamus Farum</h3>
                        <p>Graphic Design,Mock-Up</p>

                    </div>
                </div>
                <!--3-->
                <div class="latest-project-item photography ">
                    <img src="images/field-g6a3312dd2_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Usus Legentis Videntur</h3>
                        <p>Photography, Holiday</p>
                    </div>
                </div>
                <!--4-->
                <div class="latest-project-item photography ">
                    <img src="images/moon-g47ee1c375_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Claritas Etiam Processus</h3>
                        <p>Photography Nature</p>
                    </div>
                </div>
                <!--5-->
                <div class="latest-project-item mobile-app web-design">
                    <img src="images/mountain-gcbed34d4b_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Quam Ntamus Farum</h3>
                        <p>Graphic Design,Mock-Up</p>
                    </div>
                </div>

                <div class="latest-project-item illustration">
                    <img src="images/vintage-g2ed22f137_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Usus Legentis Videntur</h3>
                        <p>Photography, Holiday</p>
                    </div>
                </div>
                <!--7-->
                <div class="latest-project-item mobile-app">
                    <img src="images/vintage-g2ed22f137_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Usus Legentis Videntur</h3>
                        <p>Photography, Holiday</p>
                    </div>
                </div>
                <!--8-->
                <div class="latest-project-item illustration">
                    <img src="images/vintage-g2ed22f137_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class=" arrow"></div>
                        <h3>Usus Legentis Videntur</h3>
                        <p>Photography, Holiday</p>
                    </div>
                </div>
                <!--9-->
                <div class="latest-project-item web-design">
                    <img src="images/vintage-g2ed22f137_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Usus Legentis Videntur</h3>
                        <p>Photography, Holiday</p>
                    </div>
                </div>
                <div class="latest-project-item web-design">
                    <img src="images/vintage-g2ed22f137_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Usus Legentis Videntur</h3>
                        <p>Photography, Holiday</p>
                    </div>
                </div>
                <div class="latest-project-item web-design">
                    <img src="images/vintage-g2ed22f137_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Usus Legentis Videntur</h3>
                        <p>Photography, Holiday</p>
                    </div>
                </div>

                <div class="latest-project-item illustration">
                    <img src="images/vintage-g2ed22f137_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Usus Legentis Videntur</h3>
                        <p>Photography, Holiday</p>
                    </div>
                </div>

                <div class="latest-project-item web-design">
                    <img src="images/vintage-g2ed22f137_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Usus Legentis Videntur</h3>
                        <p>Photography, Holiday</p>
                    </div>
                </div>

                <div class="latest-project-item web-design">
                    <img src="images/vintage-g2ed22f137_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Usus Legentis Videntur</h3>
                        <p>Photography, Holiday</p>
                    </div>
                </div>

                <div class="latest-project-item web-design">
                    <img src="images/vintage-g2ed22f137_1920.jpg" alt="">
                    <div class="search-link-btn">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="latest-project-text">
                        <div class="arrow"></div>
                        <h3>Usus Legentis Videntur</h3>
                        <p>Photography, Holiday</p>
                    </div>
                </div>
            </div>


            <a class="btn-load" id="load-more">Load More</a>
            <a class="btn-load" id="load-less">Load Less</a>
        </div>
        </div>
        </div>
    </section>

    <section>
        <div class="video">
            <div class="video-icon">
                <img src="images/icon4.png ">
            </div>
            <div class="video-content">
                <h2>Waxom Video presentation</h2>
                <p>Investigationes demonstravernt lectores legere me lius quod i legnt sapius, qui sequitur mutationem
                    consuetuium</p>
                <p>03:26</p>

            </div>

            <div class="video-player" id="videoPlayer">
                <iframe class="iframe" src="https://www.youtube.com/embed/S3DaROkXUc0" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <img src="images/close1437.jpg" class="btn-close" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="about-mobile">
            <div class="mobile-image">
                <img src="images/iphone in hand.jpg" alt="phone">
            </div>
            <div class="mobile-text">
                <h2>
                    Excellent for Mobile Devices.
                </h2>
                <p>
                    Qisi enim ad minim veniam, qois nostrd exerci tation llamcorpr suscipit lobortis nisi ut aliquip ex
                    ea
                    commodo consequat.Investigatones demanstrverunt lctores legere me lius quad ii legnt saepius
                    claritas.
                    Eodem modo typi, qui nunc nobis videntur parum clari,fiant sollemnes in futurem.
                </p>
                <div class="mobile-list">
                    <ul>
                        <li>
                            <p>Nam liber tempor cumm soluta nobis elfend option</p>
                        </li>
                        <li>
                            <p>Option conque nihil imperdiet doming id quod mazim placerat facer:</p>
                        </li>
                        <li>
                            <p>Eodem modo typi, qui nunc nobis videntur parum futurum:</p>
                        </li>
                        <li>
                            <p>Investigationes demonstravrunt lectores</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <div class="gradient-section">
        <div class="gradient-counters">
            <i class="fa-solid fa-user-group"></i>
            <span>3587</span>
            <h3>Satisfited clients</h3>
            <span>-</span>
        </div>
        <div class="gradient-counters">
            <i class="fa-solid fa-mug-hot"></i>
            <span>207</span>
            <h3>Cups of coffie</h3>
            <span>-</span>
        </div>
        <div class="gradient-counters">
            <i class="fa-regular fa-message"></i>
            <span>2500</span>
            <h3>Blog posts</h3>
            <span>-</span>
        </div>
        <div class="gradient-counters">
            <i class="fa-regular fa-heart"></i>
            <span>873</span>
            <h3>Likes</h3>
            <span>-</span>
        </div>
        <div class="gradient-counters">
            <i class="fa-solid fa-plate-wheat"></i></i>
            <span>900</span>
            <h3>We launched</h3>
            <span>-</span>
        </div>
    </div>

    <!-- section6 -->
    <section>
        <div class="recent-post">
            <div class="header-and-text">
                <h2>Recent Posts.</h2>
                <p>Investestiones demonstravernt lectores legere me lius quod ii legunt saepius. Claritas est etiam
                    processus
                    dynamicus,qui sequitur mutationem consuetudim.</p>
            </div>
        </div>
        <div class="our-post-container">
            <div class="post-list">
                <div class="post">
                    <div class="imageDiv">
                        <img src="images/shoes-ga5071d344_1920.jpg" alt="">
                        <div class="calendar">
                            <p>30</p>
                            <div class="calendar2">
                                <p>Sep.</p>
                            </div>
                        </div>
                        <div class="post-text">
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>Claritas est etiam processus dynamicus,qui sequitur mutationem consuetudim</p>
                            <a
                                href=http://waxom.torbara.com/blog/item/8-photography/13-ut-wisi-enim-ad-minim-veniam-quis-nostrud.html>Read
                                more <span>&#9658;</span></a>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="imageDiv ">
                        <img src="images/cup-of-coffee-gc39d254cf_1920.jpg" alt="">
                        <div class="calendar">
                            <p>30</p>
                            <div class="calendar2">
                                <p>Sep.</p>
                            </div>
                        </div>
                        <div class="post-text">
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>Claritas est etiam processus dynamicus,qui sequitur mutationem consuetudim</p>
                            <a
                                href=http://waxom.torbara.com/blog/item/8-photography/13-ut-wisi-enim-ad-minim-veniam-quis-nostrud.html>Read
                                more <span>&#9658;</span></a>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="imageDiv ">
                        <img src="images/mountain-gcbed34d4b_1920.jpg" alt="">
                        <div class="calendar">
                            <p>30</p>
                            <div class="calendar2">
                                <p>Sep.</p>
                            </div>
                        </div>
                        <div class="post-text">
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>Claritas est etiam processus dynamicus,qui sequitur mutationem consuetudim</p>
                            <a
                                href=http://waxom.torbara.com/blog/item/8-photography/13-ut-wisi-enim-ad-minim-veniam-quis-nostrud.html>Read
                                more <span>&#9658;</span></a>
                        </div>
                    </div>
                </div>

                <div class="post">
                    <div class="imageDiv">
                        <img src="images/shoes-ga5071d344_1920.jpg" alt="">
                        <div class="calendar">
                            <p>30</p>
                            <div class="calendar2">
                                <p>Sep.</p>
                            </div>
                        </div>
                        <div class="post-text">
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>Claritas est etiam processus dynamicus,qui sequitur mutationem consuetudim</p>
                            <a
                                href=http://waxom.torbara.com/blog/item/8-photography/13-ut-wisi-enim-ad-minim-veniam-quis-nostrud.html>Read
                                more <span>&#9658;</span></a>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="imageDiv ">
                        <img src="images/cup-of-coffee-gc39d254cf_1920.jpg" alt="">
                        <div class="calendar">
                            <p>30</p>
                            <div class="calendar2">
                                <p>Sep.</p>
                            </div>
                        </div>
                        <div class="post-text">
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>Claritas est etiam processus dynamicus,qui sequitur mutationem consuetudim</p>
                            <a
                                href=http://waxom.torbara.com/blog/item/8-photography/13-ut-wisi-enim-ad-minim-veniam-quis-nostrud.html>Read
                                more <span>&#9658;</span></a>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="imageDiv ">
                        <img src="images/mountain-gcbed34d4b_1920.jpg" alt="">
                        <div class="calendar">
                            <p>30</p>
                            <div class="calendar2">
                                <p>Sep.</p>
                            </div>
                        </div>
                        <div class="post-text">
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>Claritas est etiam processus dynamicus,qui sequitur mutationem consuetudim</p>
                            <a
                                href=http://waxom.torbara.com/blog/item/8-photography/13-ut-wisi-enim-ad-minim-veniam-quis-nostrud.html">Read
                                more <span>&#9658;</span></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- section7 -->
    <section>
        <div class="image-logos">
            <div class="image-logos-list">
                <div class="logo-img">
                    <img src="images/logo-1.jpg" alt="">
                </div>
                <div class="logo-img">
                    <img src="images/logo-2.jpg" alt="">
                </div>
                <div class=" logo-img">
                    <img src="images/logo-3.jpg" alt="">
                </div>
                <div class="logo-img">
                    <img src="images/logo4.jpg" alt="">
                </div>
            </div>
        </div>

    </section>

    <footer>
        <!-- section8 -->
        <section>
            <div class="bigger-footer">
                <div class="footer-content">
                    <div class="footer-waxom">
                        <img src="images/logo3.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sed iure quas voluptas corporis
                            iusto. Molestiae eum similique provident nulla laborum vitae adipisci consequatur officia
                            facilis, ipsa asperiores obcaecati beatae?</p>

                        <p class="read-more-txt">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Tenetur, aperiam?</p>
                        <a
                            href="http://waxom.torbara.com/blog/item/8-photography/13-ut-wisi-enim-ad-minim-veniam-quis-nostrud.html">Read
                            more <span>&#9658;</span></a>
                    </div>
                </div>
                <div class="footer-content">
                    <div class="footer-border">
                        <div class="footer-recent-post-columns">
                            <h2>Recent Posts</h2>
                        </div>
                        <div class="footer-border">
                            <p class="dark-gray-text">Septembar 08,2015</p>
                            <p class="footer-text">Lorem ipsum dolor,consectetur adipisicing elit</p>
                        </div>
                        <div class="footer-border">
                            <p class="white-text">Septembar 08,2015</p>
                            <p class="footer-text gold-text">Diam nonummy nibh euismod tincidunt nt ut laoreet dolore
                                magna</p>
                        </div>
                        <div class="footer-border">
                            <p class="dark-gray-text">Septembar 08,2015</p>
                            <p class="footer-text">Claritas est etiam processus dynamicus, qui sequitur mutationem per
                                seacla
                                quarta decima</p>
                        </div>
                    </div>
                </div>
                <div class="footer-content">
                    <div class="our-twitter">
                        <div class="footer-border">
                            <h2>Out Twitter</h2>
                        </div>
                        <div class="footer-border">
                            <p class="footer-text"><a href="#">@waxom </a>Cum soluta nobis eleifend option congue nihil
                                imperdeit
                                doming</p>
                            <p class="dark-gray-text">3 mins ago</p>
                        </div>
                        <div class="footer-border">
                            <p class="footer-text">Mirum est <span style="color:#00bff3">#enevato</span> notare quam
                                littera
                                gothica, quam nunc
                                putamus parum anteposuerit litterarum</p>
                            <p class="dark-gray-text">5 hours ago</p>
                        </div>
                        <div class="footer-border">
                            <p class="footer-text">Soluta nobis option <span style="color:#fff">bit.ly/Hniso7</span></p>
                            <p class="dark-gray-text">20 days ago</p>
                        </div>
                    </div>
                </div>
                <div class="footer-content">
                    <div class="dibble-widget ">
                        <div>
                            <h2>Dribble Widget</h2>
                        </div>
                        <div class="dibble-widget-container">
                            <div class="box-img ">
                                <img src="images/elephant-gf620f9fc0_1920.jpg" alt="">
                            </div>
                            <div class="box-img "> <img src="images/artisanal-food-gc9350e4ba_1920.jpg" alt=""></div>
                            <div class="box-img "><img src="images/cup-of-coffee-gc39d254cf_1920.jpg" alt="">
                            </div>
                            <div class="box-img ">
                                <img src="images/mountain-gcbed34d4b_1920.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="small-footer">
            <div class="small-footer-text">
                <p>Copyright 2015 <span>Waxom</span></p>
                <p>|</p>
                <p>Privacy Policy</p>
                <p>|</p>
                <p style="color:#c7b299">FAQ</p>
                <span>|</span>
                <p>Support</p>
            </div>
            <div class="small-footer-text">
                <p>Designed By <span>ThemeFire</span></p>
                <p>|</p>
                <p>Only on <span>Envato Market</span></p>
            </div>
        </div>
    </footer>


    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="slick.min.js"></script>
    <script src="jquery.hislide.js"></script>
    <script>
        $(".img-area").hiSlide();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>
    <script type="text/javascript" src="carousel.js"></script>
</body>

</html>