@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --hoverColor: #333;
  --grayColor: #a2968b;
  --buttonOneColor: #998675;
  --item2: rgb(199, 178, 153);
  --textColor: #8c8c8c;
  --textGoldColor: #a6927d;
  --brownHover: #362f2d;
  --hoverGoldColor: #c7b299;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.slick-carousel {
  display: flex;
}

.slide-carousel {
  width: 100%;
  position: relative;
}

.slick-carousel img {
  height: 800px;

  background-blend-mode: darken;
}

.slide-carousel .slick-next {
  position: absolute;
  border: none;
  top: 50%;
  right: 30px;
  z-index: 1;
  cursor: pointer;
  color: #a2a19f;
  background-color: transparent;
  font-size: 130px;
}

.slide-carousel .slick-prev {
  border: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 30px;
  cursor: pointer;
  color: #a2a19f;
  background-color: transparent;
  font-size: 130px;
}

.home {
  width: 100%;
}

.header-navigation {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.header-navigation a img {
  mix-blend-mode: color-dodge;
  width: 200px;
  cursor: pointer;
}

.header-navigation .fas {
  display: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.navigation-list-items {
  text-align: center;
  list-style: none;
  display: flex;
  position: relative;
  right: -5%;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.navigation-list-items a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 12px;
  position: relative;
  font-size: 20px;
  padding: 10px;
  margin: 0;
}

.navigation-list-items a:hover {
  color: var(--textGoldColor);
}

.fa.fa-search,
.fa.fa-shopping-bag {
  padding-right: 10px;
  font-size: large;
  cursor: pointer;
  color: #fff;
}

.fa.fa-search:hover {
  color: var(--textGoldColor);
}

.fa.fa-shopping-bag:hover {
  color: var(--textGoldColor);
}

.home-content {
  height: 300px;
  position: absolute;
  color: #ffffff;
  width: 50%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 100;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  top: -30px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  border: 2px solid #1a1919;
  border-radius: 50%;
  position: absolute;
  top: -30px;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  background-color: black;
  border-radius: 50%;
  left: -3px;
  top: -3px;
}

.fa-bars {
  z-index: 3;
}

.home-content h1 {
  font-size: 40px;
  margin: 2px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.home-content h2 {
  margin: 2px;
}

.home-content p {
  margin: 25px;
}

.big-brown-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #998675;
  border-radius: 5px;
  box-shadow: 0 5px #3b3734;
  cursor: pointer;
  padding: 10px 20px;
  position: relative;
  bottom: -80px;
}

.big-brown-btn:hover {
  background-color: #3b3734;
}
.list-of-services {
  padding-bottom: 50;
}

.waxom-realization {
  background-color: #fbfaf8;
  width: 100%;
}

.waxom-realization-content {
  margin: auto;
  text-align: center;
  width: 50%;
  align-items: center;
}

.waxom-realization-content h2 {
  font-size: 30px;
}

.waxom-realization-content p {
  font-size: 20px;
}

.waxom-slider-container {
  width: 100%;
  height: 450px;
}

.fa-solid.fa-pencil {
  font-size: 50px;
  color: #111111;
}

.fa-solid.fa-layer-group {
  font-size: 50px;
  color: #111111;
}

.fa-solid.fa-gear {
  font-size: 50px;
  color: #111111;
}

.fa-solid.fa-folder-open {
  font-size: 50px;
  color: #111111;
}

.services-list {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  width: 100%;
  padding: 0 150px;
  margin-top: 20px;
}

.services-list a {
  text-decoration: none;
  color: #111111;
}

.services-item {
  width: 20%;
  height: auto;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

.divider hr {
  background-color: #efeeea;
  width: 80px;
  height: 5px;
  display: inline-block;
  border: 0;
  border-radius: 15px;
}

.services-item:hover hr {
  background-color: var(--textGoldColor);
}

.services-list .services-item p {
  margin-top: 10px;
}

.services-item:hover h3 {
  color: var(--textGoldColor);
}

.services-item:hover .fa-solid.fa-pencil {
  color: var(--textGoldColor);
}

.services-item:hover .fa-solid.fa-layer-group {
  color: var(--textGoldColor);
}

.services-item:hover .fa-solid.fa-gear {
  color: var(--textGoldColor);
}

.services-item:hover .fa-solid.fa-folder-open {
  color: var(--textGoldColor);
}

.waxom-gradient {
  display: flex;
  width: 100%;
  height: 13vh;
  padding: 3px;
  background-image: linear-gradient(to right, #211b19, #4e3427);
  align-items: center;
}

.waxom-gradient-content {
  width: 50%;
  text-align: center;
}

.waxom-gradient-content h3 span {
  color: rgb(169, 137, 57);
}

.waxom-gradient-content h3 {
  font-family: "Raleway", "sans-serif";
  color: #fff;
}

.waxom-gradient-content p {
  color: var(--grayColor);
}

.purchase-link {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.purchase-link a {
  font-family: "Montserrat", "sans-serif";
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 30px;
  padding: 18px 34px;
  background-color: var(--buttonOneColor);
  color: #fff;
}

.purchase-link a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* section 4*/

.latest-project-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-and-text {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.links-buttons {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.list-links li {
  text-align: center;
  align-items: center;
  margin-top: 40px;
}

.list-links li a {
  text-decoration: none;
  border: 0.5px solid black;
  margin: 15px;
  padding: 8px;
  color: var(--hoverColor);
  border-radius: 8px;
}

.list-links li a:first-child {
  padding: 10px 30px;
}

.list-links li a:hover {
  color: #fff;
  background-color: var(--buttonOneColor);
  border: 0;
}

.list-links {
  margin: auto;
  width: 100%;
  height: 30%;
}


.latest-project-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  height: 50%;
  text-align: center;
}
.latest-project-item {
  width: 300px;
  height: 300px;
  margin: 1rem;
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: none;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.latest-project-item img {
  width: 100%;
  height: 100%;
}

.latest-project-item:hover .latest-project-text {
  background-color: var(--brownHover);
  color: #fff;
  transition: 500ms ease;
}

.latest-project-item:hover .latest-project-text p {
  color: #c7b299;
}

.latest-project-item:hover .arrow {
  background-color: var(--brownHover);
  transition: 500ms ease;
}


.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: 25px;
  transform: rotate(45deg);
  background-color: #fbfaf8;
  border-bottom: 0;
  border-right: 0;
}

.latest-project-text {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0px;
  background-color: #fbfaf8;
  color: var(--item2);
  padding-top: 16px;
}

.latest-project-text p {
  color: #d1d1d1;
}

.btn-load {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--buttonOneColor);
  font-weight: bold;
  font-family: "Roboto";
  box-shadow: 0 3px #3b3734;
  margin: 10px;
  font-size: smaller;
  position: relative;
  cursor: pointer;
}


#load-more:hover {
  background-color: #967559;
}

#load-less:hover {
  background-color: #967559;
}

.video {
  margin-top: 40px;
  height: 60vh;
  background-image: url("images/video.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-content {
  width: 550px;
  display: block;
  text-align: center;
  position: relative;
  color: #fff;
}

.video-icon {
  cursor: pointer;
}

.video-content p:last-child {
  color: var(--textGoldColor);
}

.video-player {
  position: absolute;
  width: 50%;
  margin: auto;
  display: none;
}
    .iframe {
      width: 1000px;
      height: 600px;
    }

.btn-close {
  width: 50px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: -250px;
  mix-blend-mode: multiply;
}

.search-link-btn {
  width: 50%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 70px;
}

.latest-project-item:hover .search-link-btn i {
  display: flex;
}

.search-link-btn i {
  display: none;
  margin: 10px;
  color: #fff;
  font-size: 25px;
}

.search-link-btn i:hover {
  color: var(--hoverGoldColor);
}

/*secton5*/

.about-mobile {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  align-items: center;
  margin-top: 30px;
}

.mobile-text {
  width: 600px;
  text-align: left;
}

.mobile-text p {
  color: var(--textColor);
}

.mobile-image {
  position: relative;
  width: 30%;
  mix-blend-mode: multiply;
  text-align: right;
}

.mobile-image img {
  position: relative;
}

.mobile-list ul li {
  list-style-type: none;
}
.mobile-list ul li p {
  padding-left: 40px;
}


.mobile-list ul li::before {
    content: '\f105';
      width: 21px;
      height: 21px;
      display: block;
      background: var(--hoverGoldColor);
      color: #ffffff;
      font-family: FontAwesome;
      text-align: center;
      border-radius: 50%;
      line-height: 21px;
      position: relative;
      top: 35px;
}
.gradient-section {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #211b19, #4e3427);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gradient-counters {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  text-align: center;
  justify-content: center;
}

.gradient-counters span,
.gradient-counters h3,
.gradient-counters i {
  margin: 5px;
  text-transform: uppercase;
}

.gradient-counters span,
.gradient-counters i {
  font-size: 30px;
}

.gradient-counters span {
  color: #fff;
  font-weight: 200;
}

.gradient-counters h3,
.gradient-counters i {
  color: var(--textGoldColor);
}

/* section6*/

.recent-post {
  width: 100%;
  height: 250px;
  padding-top: 40px;
}

.our-post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.post-list {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
}

.post-list .slick-next {
  border: none;
  position: absolute;
  right: 45%;
  bottom: 10px;
}

.post-list .slick-prev {
  border: none;
  position: absolute;
  left: 45%;
  bottom: 10px;
}

.post-list .slick-prev,
.post-list .slick-next {
  background-color: transparent;
  border: 1px solid var(--textGoldColor);
  color: var(--textGoldColor);
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}

.post-list .slick-prev:hover,
.post-list .slick-next:hover {
  background-color: var(--textGoldColor);
  color: #fff;
}

.post {
  position: relative;
  margin-bottom: 15px;
  margin: 20px;
}

.imageDiv {
  width: 100%;
  height: 400px;
}

.imageDiv img {
  width: 100%;
  height: 200px;
}

.post-text {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-color: rgb(255, 253, 251);
  text-align: left;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.post-text h3 {
  text-transform: none;
  color: #4a4545;
}

.post-text p {
  color: var(--textColor);
}

.post-text a {
  text-decoration: none;
  color: var(--textGoldColor);
  margin-top: 5px;
}

.read-more-txt {
  display: none;
  color: var(--textColor);
}

.read-more-txt--show {
  display: inline;
}

.read-more-btn {
  color: var(--textGoldColor);
}

.read-more-btn:hover {
  text-decoration: underline;
}

.calendar {
  width: 60px;
  height: 70px;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  background-color: #363636;
}

.calendar p {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 25px;
  bottom: 20px;
}

.calendar2 {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  background-color: #252525;
  border-radius: 0 0 5px 5px;
  color: #fff;
}

.calendar2 p {
  text-align: center;
  position: relative;
  bottom: 10px;
  font-size: 15px;
}

.btn-rl {
  width: 100px;
  margin: 30px;
}

.s6-btn {
  border-radius: 100%;
  margin: 5px;
  font-size: 30px;
  background-color: transparent;
  color: var(--hoverGoldColor);
  border-color: var(--hoverGoldColor);
  cursor: pointer;
  border: 3px solid;
}

.s6-btn:hover {
  background-color: var(--hoverGoldColor);
  color: #fff;
}

.post:hover .post-text {
  transition: 500ms ease-in;
  background-color: var(--brownHover);
}

.post:hover h3 {
  color: var(--textGoldColor);
}

.post:hover p {
  color: #fff;
}

.post:hover .calendar {
  background-color: var(--hoverGoldColor);
}

.post:hover .calendar2 {
  background-color: #a48d72;
}
.post a:hover {
  text-decoration: underline;
}

.post-text span {
  font-size: 15px;
}

/*section7*/

.image-logos {
  width: 100%;
  background-image: url("images/coverpic.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-blend-mode: darken;
  display: flex;
  margin-top: 30px;
}

.image-logos-list {
  height: auto;
  display: flex;
  margin: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* flex-wrap: wrap; */
  position: relative;
  top: -70px;
  right: 120px;
}

.logo-img {
  width: 350px;
  height: 300px;
  position: relative;
}

.image-logos-list img {
  mix-blend-mode: color-dodge;
}

.bigger-footer {
  width: 100%;
  height: auto;
  background-color: #191919;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-content {
  width: 400px;
  height: 600px;
  margin: 0 10px;
}

.footer-waxom {
  text-align: left;
}

.footer-waxom img {
  width: 350px;
  height: 250px;
  position: relative;
  right: 50px;
  margin: 0;
}

.footer-waxom p {
  position: relative;
  top: -70px;
  font-size: 20px;
  color: #555555;
}

.footer-waxom a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  position: relative;
  top: -30px;
}

.footer-waxom a:hover {
  color: var(--textGoldColor);
}

.footer-waxom span {
  font-size: 15px;
}

.footer-recent-post {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 70px;
}

.footer-recent-post-colums {
  border-bottom: 3px solid #252525;
}

.footer-recent-post-colums:first-child {
  border: none;
}

.our-twitter:last-child {
  border-bottom: none;
}

.our-twitter h2 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 0;
}

.dark-gray-text {
  color: #363636;
}

.white-text {
  color: #fff;
}

.s8-text2 {
  color: var(--hoverGoldColor);
  font-size: 20px;
  padding-bottom: 40px;
}

.footer-text {
  color: #555555;
  font-size: 20px;
}

.footer-border {
  border-bottom: 3px solid #252525;
}

.footer-border h2 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 0;
}

.footer-border:first-child {
  border: none;
}

.footer-border:last-child {
  border-bottom: none;
}

.footer-text a {
  text-decoration: none;
  color: #00bff3;
}

.gold-text {
  color: var(--hoverGoldColor);
}

.dibble-widget {
  position: relative;
}

.dibble-widget h2 {
  color: #fff;
  font-size: 35px;
  margin-bottom: 0;
}

.dibble-widget-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.box-img {
  width: 45%;
  height: 150px;
  margin: 10px;
  margin-left: 0;
}

.box-img img {
  width: 100%;
  height: 100%;
}

/*footer*/

.small-footer {
  background-color: #111111;
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrapz;
}

.small-footer-text {
  width: 50%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-footer-text p {
  color: #555555;
  padding: 15px;
  font-size: 20px;
}

.small-footer-text span {
  color: #fff;
}

.read-more-btn2 {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* responsive */

@media (max-width: 1900px) {
  .latest-project-content {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
  .latest-project-content {
    width: 80%;
  }

  

  .post-list {
    width: 100%;
  }
  .footer-content {
    width: 280px;
  }
  .footer-content p {
    font-size: small;
  }

  .image-logos-list {
    width: 100%;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .logo-img img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1200px) {
  .radio-container {
    height: 300px;
  }

  .home-content {
    bottom: -30px;
  }

  .services-item {
    width: 50%;
  }

  .latest-project-items {
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .post-list {
    width: 100%;
  }

  .waxom-realization {
    height: 800px;
  }

  /* responsive */
  @media (max-width: 700px) {
    .home-content {
      top: 350px;
      font-size: larger;
    }

    .navigation-list {
      height: auto;
    }

    .navigation-list-items {
      flex-direction: column;
      font-size: 50px;
    }

    .navigation-list ul li a {
      text-align: right;
      margin-right: 16px;
      margin-bottom: 15px;
    }

    .navigation-list ul li i {
      text-align: right;
      margin-bottom: 15px;
    }

    .navigation-list ul li i:last-child {
      margin-top: 20px;
    }

    .navigation-list {
      position: absolute;
      top: 0;
      right: -200px;
      background-color: var(--hoverColor);
      width: 200px;
      height: 800px;
      z-index: 2;
      transition: 1s ease-in;
    }

    .header-navigation .fas {
      display: block;
      color: #fff;
      margin: 10px;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
    }

    .header-navigation .fas.fa-bars,
    .header-navigation .fas.fa-times {
      font-size: 2rem;
    }

    #load-less {
      left: 18px;
      top: 1px;
    }

    .iframe {
      width: 400px;
      height: 400px;
    }

    .btn-close  {
      top: 0;
      right: -110px;
    }
    .services-item {
      width: 90%;
    }

    .latest-project-content {
      height: auto;
    }
    
    .search-link-btn {
      top: 0;
      left: -10px;
    }
    .about-mobile {
      flex-direction: column;
    }

    .gradient-section {
      height: auto;
    }

    .our-post-container {
      height: auto;
    }

    .image-logos-list {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .logo-img {
      position: relative;
      top: 0;
    }

    .bigger-footer {
      height: auto;
      flex-direction: column;
      padding: 0;
      margin: 0;
    }

    .footer-waxom {
      text-align: center;
    }

    .footer-content {
      width: 100%;
      height: 400px;
      border-top: 3px solid #252525;
      margin: 0;
      text-align: center;
    }

    .box-img {
      width: 140px;
      height: 140px;
    }
    .dibble-widget-container {
      justify-content: center;
    }
  }
  .small-footer {
    flex-direction: column;
    height: auto;
  }

  .small-footer-text {
    width: 100%;
  }

  .search-link-btn {
    position: absolute;
    width: 50%;
    height: 25%;
    margin-top: 60px;
    margin-left: 80px;
  }

  .s3-slider img {
    width: 50%;
  }

  .s3-slider {
    height: 150px;
  }
}
